/.cursor
/T3/cofre-digital/target
T3/cofre-digital/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
T3/cofre-digital/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
